.flex_f {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    padding: 25px 70px;
}

a {
    text-decoration: none;
    color: #FF0000;
}

body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2.4px;

}

.flex_d {
    text-align: center;
    text-decoration: none;
}

.picture {
    align-content: center;
    width: 100%;
}

h2 {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 38px;
}

.text_1 {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    padding-left: 67.5px;
    padding-right: 67.5px;
}

.text_2 {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    padding-top: 28px;
    padding-left: 67.5px;
    padding-right: 67.5px;
}

div {
    display: flex;
    margin: 0px auto;
    justify-content: center;
}

.button {
    margin-bottom: 40px;
    margin-top: 66px;
    text-align: center;

}

.btn {
    display: inline-block;
    vertical-align: top;
    background: #FF0000;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    color: white;
    text-align: center;
    padding-bottom: 17px;
    padding-top: 18px;
    padding-left: 42px;
    padding-right: 43px;


}

.footer_vol {
    display: flex;
    justify-content: right;
    margin-top: 82px;
    margin-bottom: 29px;
    margin-right: 105px;
    margin-left: 713px;
}



